<!-- Box -->
<section>
  <div class="content offer-container align-center">
    <div class="offer-tabs">
      <div id="offer-engagement" class="offer-box offer-tab">
        <a href="#engagement-solutions">
          <p><%= t('solutions.engagement.title') %></p>
        </a>
      </div>

      <div id="offer-communication" class="offer-box offer-tab">
        <a href="#communication-solutions">
          <p><%= t('solutions.communication.title') %></p>
        </a>
      </div>

      <div id="offer-languages" class="offer-box offer-tab">
        <a href="#languages-solutions">
          <p><%= t('solutions.languages.title') %></p>
        </a>
      </div>
    </div>
  </div>
</section>
