<section class="banner style1 orient-right content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
  <div class="content">
    <h2 class="margin-top">Atolo Eval - Your very own language assessment platform</h2>
    <h3>For what purpose?</h3>
    <p class="align-justify">
      <ul>
        <li>Companywide language level benchmarking</li>
        <li>Learning & development programs</li>
        <li>Selection & recruitment</li>
        <li>Internal language level recognition policies</li>
      </ul>
    </p>
    <h3>Which languages can be assessed? </h3>
    <p class="align-justify">English, French, German & Dutch. Additional languages can be implemented on request.</p>
    <ul class="actions stacked">
      <li><a href="#value-one-anchor" class="button large wide smooth-scroll">Discover Atolo Eval</a></li>
    </ul>
  </div>
  <div class="image">
    <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1612360628/evaluation3.jpg", :alt => "image") %>
  </div>
</section>

<div id="value-one-anchor" class="value-one-anchor"></div>
<!-- Spotlight -->
<section id="value-one" class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in onload-content-fade-right" id="first">
  <div class="content">
    <h2>Fully autonomous!</h2>
    <p class="align-justify">
      <ul>
        <li>Create your own administrators (user accounts) in a couple of clicks</li>
        <li>Send out test invitations to your participants</li>
        <li>Personalized messaging options</li>
        <li>No need for extensive user training</li>
      </ul>
    </p>
    <h3>A reliable platform with proven accuracy!</h3>
    <p class="align-justify">An international team of language experts designed the test so as to reach clear and accurate language level results. Based on the CEFR standard, more than 700 different questions cover passive and active knowledge, written skills and comprehension. The adaptive intelligence and the proven algorithm further ensure accuracy.
    </p>
    <p class="align-justify">Results, an end report and an Atolo certificate are made available immediately upon test completion.
    </p>
  </div>
  <div class="image">

    <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1612360624/evaluation5.jpg", :alt => "image") %>
  </div>
</section>

<div id="value-two-anchor" class="value-two-anchor"></div>
<!-- Spotlight -->
<section id="value-two" class="spotlight style1 orient-right content-align-left image-position-center  onscroll-image-fade-in onscroll-content-fade-left" id="first">
  <div class="content">
    <h2>What about the technology?</h2>
    <p class="align-justify">
      <ul>
        <li>The platforms are web based. Easy.</li>
        <li>The platforms work seamlessly on Chrome, Safari and Firefox. Flexible & accessible.</li>
      </ul>
    </p>
    <h3>What about the test taker experience?</h3>
    <p class="align-justify">User friendly & no need for extensive briefings. From clicking on the test link received by mail to taking the test, everything is smooth and instinctive. Test takers barely need 35 to 40 min to complete the test. The test taker can choose a preferred interface language (English, French, German & Dutch available).
    </p>
  </div>
  <div class="image">

    <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1612360635/evalution1.jpg", :alt => "image") %>
  </div>
</section>

<div id="value-three-anchor" class="value-three-anchor"></div>
  <!-- Spotlight -->
<section id="value-three" class="spotlight style1 orient-left content-align-left image-position-center  onscroll-image-fade-in onscroll-content-fade-right" id="first">
  <div class="content">
    <h2>Company branded? How?</h2>
    <p class="align-justify">
      Participants will recognize your company identity when taking the test. The platform can be embedded with your company logo and colour scheme.
    </p>
  </div>
  <div class="image">
    <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1612360628/evaluation4.jpg", :alt => "image") %>
  </div>

</section>
