// Define variables for your color scheme

// For example:


$gray: #0E0000;
$light-gray: #F4F4F4;

$atolo-green: #48E27C;
$real-atolo-green: #8dc73d;
$real-atolo-green: rgb(141, 199, 61);
$template-atolo-green: #48E27C;
$template-atolo-green: rgb(72, 226, 124);
$template-blue: #47D3E5;

$blue: #41748D;
$green: #78BE21;
$green-2: #01B27B;
$yellow: #F0B323;
$red: #DB0B5B;
$orange: #ED8B00;

