// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$atolo-green: #48E27C;
$real-atolo-green: #8dc73d;
$real-atolo-green: rgb(141, 199, 61);
$template-atolo-green: #48E27C;
$template-atolo-green: rgb(72, 226, 124);
$template-blue: #47D3E5;
