.title-center{
  text-align: center;
}

.webinar-title{
  color: $atolo-green;
  font-weight: bold;
}
.banner-title{
  margin-top: 70px;
  text-align: center;
  padding: 3rem;
  background-color: #44d274;
  color: white;

  h1{
    font-size: 3rem;
    color: white;
  }
  h2{
    font-size: 1,5rem;
    color: white;
  }
}

#pages_events{
  .banner-title{
    h3{
        max-width: 600px;
        margin: auto;
        color: white;
    }
  }
  #testimonials{
    h3{
      max-width: 600px;
      margin: auto;
    }
  }

  .events{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 60px 24px 110px 24px;
    background-color: #44d274;
    flex-wrap: wrap;

    .event{
      width: 400px;
      height: 550px;
      background-color: white;
      border-radius: 8px;
      margin-bottom: 24px;
      .bg-image{
        height: 150px;
        background-position: center;
        /* background-origin: inherit; */
        background-size: cover;
        border-radius: 8px 8px 0px 0px;
      }
      .title{
        padding: 12px;
        font-weight: bold;
      }
      .description{
        padding: 0px 12px;
        height: 250px;
        text-overflow:ellipsis;
        overflow:hidden;
        // Addition lines for 2 line or multiline ellipsis
        display: -webkit-box !important;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        white-space: normal;
        font-size: 14px;
        margin-bottom: 12px;
      }
      .cta{
        transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
        border: 0;
        cursor: pointer;
        display: inline-block;
        font-weight: 400;
        letter-spacing: 0.125em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
        font-size: 0.75rem;
        border-radius: 0.75em;
        padding: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
        background-color: #44d273;
        margin: 0px 12px;
        display: block;
        color: white;
        &:hover{
          background-color: #2d934f;
        }
      }
    }
  }
}
