.title-center{
  text-align: center;
}

.webinar-title{
  color: $atolo-green;
  font-weight: bold;
}
.banner-title{
  margin-top: 80px;
  text-align: center;
  padding: 3rem;
  background-color: #44d274;
  color: white;

  h1{
    font-size: 3rem;
    color: white;
  }
  h2{
    font-size: 1,5rem;
    color: white;
  }
}

#pages_events, #pages_summer_class, #pages_newbies {

  .wrapper{
    background-position: center;

    h1{
      margin-top: 240px;
    }

    .dates{
      display: flex;
      justify-content: center;
      img{
        margin-left: 20px;
        margin-right: 20px;
      }
    }

    .subtitle{
      max-width: 650px;
      margin: auto;
      margin-top: 21px;
      margin-bottom: 37px;
    }

    .cta{
      background-color: $atolo-green;
      border-radius: 30px;
      padding: 12px 25px 12px 25px;
      color: white;
      span{
        display: inline-flex;
        align-items: center;
        img{
          margin-left: 10px;
        }
      }
    }

  }

  .concept{
    padding-top: 100px;
    padding-bottom: 100px;
    h2{
      color: $atolo-green;
      font-size: 26px;
      font-weight: 400;
    }

    .concept_text{
      max-width: 748px;
      span{
        color: $atolo-green;
        font-weight: bold;
      }
    }

  }


  .banner-title{
    h3{
        max-width: 600px;
        margin: auto;
        color: white;
    }
  }
  .wrapper-second{
    max-width: 700px;
    text-align: center;
    margin: auto;
    padding: 60px;
  }
  #testimonials{
    h3{
      max-width: 600px;
      margin: auto;
      // font-weight: bold;
    }
  }
  .container > .events {
    padding: 0;
  }
  .events{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 60px 24px 60px 24px;
    // background-color: #44d274;
    flex-wrap: wrap;
    position: relative;

    .event{
      width: 400px;
      height: 550px;
      background-color: white;
      border-radius: 15px;
      margin-bottom: 24px;
      box-shadow: 6px 6px 12px #0000000D;
      position: relative;
      .bg-image{
        height: 225px;
        background-position: center;
        /* background-origin: inherit; */
        background-size: cover;
        border-radius: 15px 15px 0px 0px;
      }
      .title{
        padding: 32px 25px;
        font-weight: bold;
        font: normal normal medium 26px/34px Source Sans 3;
        color: #01B27B;
        &.title-pink{
          color: #DB0B5B;
        }
      }

      .description{
        padding: 0px 25px;
        height: 112px;
        text-overflow:ellipsis;
        overflow:hidden;
        // Addition lines for 2 line or multiline ellipsis
        display: -webkit-box !important;
        -webkit-line-clamp: 11;
        -webkit-box-orient: vertical;
        white-space: normal;
        font-size: 16px;
        margin-bottom: 12px;
      }
      .cta{
        transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
        border: 0;
        cursor: pointer;
        display: inline-block;
        font-weight: 400;
        letter-spacing: 0.125em;
        text-align: center;
        text-decoration: none;

        font-size: 0.75rem;
        border-radius: 0.75em;
        padding: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
        background-color: #01B27B;

        display: block;
        color: white;
        border-radius: 30px;
        padding: 12px 25px 12px 25px;
        color: white;
        margin-left: 25px;
        margin-right: 25px;
        position: absolute;
        bottom: 25px;
        left: 0px;
        right: 0px;
        span{
          display: inline-flex;
          align-items: center;
          img{
            margin-left: 10px;
            transition: all 0.3s ease-in-out;
          }
        }
        &:hover{
          img{
            margin-left: 15px;
          }
        }
      &.pink-cta{
        background-color: #DB0B5B;
        }
        &:hover{
          img{
            margin-left: 15px;
          }
        }
      &.blue-cta{
        background-color: $blue;
        }
      }

      &.large{
        width: 487px;
      }
    }
  }
}

#pages_summer_class {

  .title-group{
    padding-top: 160px;
    padding-bottom: 80px;

    h1{
      margin: 0px;
    }
  }

  .concept{
    max-width: 748px;
    text-align: center;
    margin: auto;
    h2{
      color: $green;
    }
  }

  .section-2{
    padding-top: 110px;
    padding-bottom: 150px;
    text-align: center;
    max-width: 780px;
    margin: auto;
    h2{
      color: $green;
      font-size: 32px;
    }
  }

  #discount{
    .content{
      background: linear-gradient(90deg, rgba(1,178,123,1) 0%, rgba(65,116,141,1) 50%, rgba(219,11,91,1) 100%);
      color: white;
      padding-top: 130px;
      padding-bottom: 110px;
    }
  }

  .events{
    .event{
      .subtitle{
        padding: 32px 25px 0px 25px;
        text-transform: uppercase;
        font-size: 16px;
      }
      .title{
        padding: 8px 25px 32px 25px;
      }
    }
  }
  #testimonials{
    h3{
      margin-top: 50px;
      color: $green;
      font-size: 32px;
    }
    .testimonial-card{
      background-color: #FFFFFF;
      height: 380px;
      position: relative;
    }
    .testimonial-footer{
      position: absolute;
      bottom: 20px;
      left: 0px;
      right: 0px;
      text-align: center;
      h3, h4{
        font-size: 18px;
        color: $green;
        margin-bottom: 8px;
      }
    }
  }
}


#pages_newbies .wrapper.banner-title,  #pages_home .fourth-section .wrapper.banner-title{
    background-size: cover;

    h1{
      margin-top: 0px;
      letter-spacing: 13.5px;
      margin-bottom: 0px;
    }

    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .regular{
      width: max-content;
      margin: 0 auto;
    }
  }

  #pages_newbies .wrapper .subtitle, #pages_home .fourth-section .wrapper .subtitle{
    max-width: 690px;
  }
#pages_newbies {
  .concept{
    padding-bottom: 208px;

    h2{
      font-size: 3rem;
      max-width: 400px;
      text-align: center;
      margin: auto;
      margin-bottom: 30px;
      line-height: 3rem;
      color: $green;
    }

    p{
      max-width: 592px;
      text-align: center;
      margin: auto;
      font-weight: 500;
      margin-bottom: 30px;
    }

    .sub-concept{
      font-size: 1.2rem;
      font-weight: 500;
      color: $green;
      margin: auto;
      text-align: center;
    }
  }

  .grey-bg{
    background-color: $light-gray;
    position: relative;
  }

  .newbies_events{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .newbies_event{
      max-width: 383px;
      border-radius: 15px;
      box-shadow: 6px -4px 12px #0000000D;
      margin: 0.8rem;

      .header{
        padding: 35px;
        background-color: white;
        border-radius: 15px 15px 0px 0px;
        height: 270px;

        .title{
          font-size: 1.2rem;
          font-weight: 400;
          margin-bottom: 16px;
          color: $yellow;
          max-width: 98%;
        }

        .title-red{
          color: $red;
        }

        .description{
          font-size: 0.8rem;
          font-weight: 400;
        }
      }

      a{
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover{
          .bg-image span{
            left: 45px;
          }
        }
      }

      .bg-image{
        height: 296px;
        padding: 60px 35px 25px 35px;
        border-radius: 0px 0px 15px 15px;
        position: relative;
        color: white;

        .picture-title{
          font-size: 1.5rem;
          color: white;
          font-weight: 400;
          line-height: 2rem;
        }

        span{
          position: absolute;
          bottom: 25px;
          display: flex;
          color: white;
          left: 35px;
          transition: all 0.3s ease-in-out;

          img{
            margin-left: 10px;
          }
        }
      }
    }
  }
  .newbies_tips_section{
    h3{
      font-size: 2.2rem;
      max-width: 500px;
      text-align: center;
      margin: auto;
      margin-bottom: 38px;
      font-weight: 400;
      color: $green;
    }
  }
  .newbies_tips{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .newbies_tip{
    max-width: 383px;
    border-radius: 15px;
    box-shadow: 6px 6px 12px #0000000D;
    margin: 0.8rem;
    background-color: $green;
    color: white;
    display: flex;
    padding: 32px 32px;
    align-items: center;
    height: 260px;

    .number{
      background-color: $green-darker;
      padding: 6px 16px;
      border-radius: 30px;
      margin-right: 15px;
      flex: 1;
      font-weight: 400;
    }

    .text{
      font-size: 0.9rem;
    }

  }

  #testimonials{

    padding-top: 100px;

    h2{
      color: $green;
      font-weight:400;
      margin-bottom: 64px;
      font-size: 36px;
    }
    .testimonial-card{
      background-color: white;
      height: 550px;
      position: relative;

      &-logo{
        height: 250px;
        width: 250px;
        padding: 10px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 3px 3px 6px #0000001A;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: 20px;

        .testimonial-logo{
          max-height: 70%;
          max-width: 100%;
        }
      }

      .testimonial-footer{
        position: absolute;
        bottom: 20px;
        left: 0px;
        right: 0px;
        text-align: center;
        h3, h4{
          font-size: 18px;
          color: $green;
          margin-bottom: 8px;
        }
      }

    }
  }

  .contact-banner{
    background: transparent linear-gradient(270deg, #DB0B5B 0%, #F0B323 100%) 0% 0% no-repeat padding-box;

    .contact-us-text > .header{
      font-size: 40px;
      max-width: 850px;
    }

    .contact-us-text > .content{
      font-size: 24px;
    }
    .contact-us-btn{
      background-color: white;
      color: $red;
    }

    svg > #arrow-right-circle{
      circle, line, path{
        stroke: $red;
      }
    }
  }

  // #F0B325 #DB0C5A
  @media (min-width: 768px) {

    .concept{
      padding-bottom: 280px;
    }

    .grey-bg{
      min-height: 800px;
    }

    .newbies_events{
      position: absolute;
      top: -220px;
      right: 0px;
      left: 0px;
    }

    .newbies_tips_section{
      bottom: -145px;
      right: 0px;
      left: 0px;
      position: absolute;
    }

    #testimonials {
      padding-top: 180px;
    }
  }

}
