// Specific CSS for your home-page
.card-holder{
  height: 500px;
  width: 500px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

.card-image{
  object-fit: contain;
  height: 100%;
}

.text-box{
  border: 1px solid black;
  position: absolute;
  bottom: 0;
  right: 0;
  background: red;
}
.product-card-margin{
  .lightbox-link{
    height: 100%;
    .image{
      height: 100%;
      img{
        height: 100%;
      }
    }
  }
}

#pages_home{
  .first-section{
    margin-top: 80px;
    text-align: center;
    padding: 3rem;
    background-color: #44d274;
    color: white;
    height: 90vh;
    position: relative;
    padding-top: 140px;
    background-size: cover;

    h1{
      font-size: 48px;
      font-weight: 400;
      color: white;
      max-width: 650px;
      margin: auto;
      margin-bottom: 64px;
      position: relative;
      z-index: 2;


      #typed-home{
        color: $green;
      }
    }
    .overlay{
      display: block;
      position: absolute;
      background: #000000 0% 0% no-repeat padding-box;
      transition: background 0.5s ease-in-out;
      bottom: 0px;
      top: 0px;
      right: 0px;
      left: 0px;
      opacity: 0.6;
      z-index: 1;

      &:hover{

        background-image: linear-gradient(90deg,  #01B27B 0%, #41748D 35%, #DB0B5B 100%);
        opacity: 0.6;
      }
    }
    .regular{
      position: relative;
      z-index: 2;
    }
  }

  .second-section{
    position: relative;
    min-height: 400px;
    z-index: 2;

    .categories{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 1240px;
      margin: auto;
      position: absolute;
      top: -109px;
      left: 0px;
      right: 0px;

      .category{
        padding: 21px 24px;
        background-color: green;
        width: 281px;
        border-radius: 12px;
        color: white;
        margin: 12px;
        height: 190px;
        position: relative;
        text-decoration: none;


        &:hover{
          .learn-more{
            margin-left: 14px;
          }
        }

        .title{
          font-weight: 400;
          font-size: 24px;
        }
        .learn-more{
          color: white;
          position: absolute;
          bottom: 24px;
          left: 24px;
          font-size: 16px;
          transition: 250ms;
          svg{

            margin-right: 12px;
            height: 20px;
            width: 20px;
            g,circle, path {
              stroke: #8D073B;
            }
          }
        }
        &:first-child{
          padding-right: 80px;
        }
      }
      .category.green{
        background-color: $green;
        .learn-more{
          svg{
            g,circle, path {
              stroke: $green-darker;
            }
          }
        }
      }
      .category.red{
        background-color: $red;
        .learn-more{
          svg{
            g,circle, path {
              stroke: $red-darker;
            }
          }
        }
      }
      .category.yellow{
        background-color: $yellow;
        .learn-more{
          svg{
            g,circle, path {
              stroke: $yellow-darker;
            }
          }
        }
      }
      .category.green-2{
        background-color: $green-2;
        .learn-more{
          svg{
            g,circle, path {
              stroke: $green-2-darker;
            }
          }
        }
      }
      .category.green{
        background-color: $green;
        .learn-more{
          svg{
            g,circle, path {
              stroke: $green-darker;
            }
          }
        }
      }
      .category.grey{
        background-color: $black-grey;
        .learn-more{
          svg{
            g,circle, path {
              stroke: $black-grey-lighter;
            }
          }
        }
      }
      .category.blue{
        background-color: $blue;
        .learn-more{
          svg{
            g,circle, path {
              stroke: $blue-darker;
            }
          }
        }
      }
    }
  }

  .third-section, .fourth-section{
    text-align: center;
    padding-top: 110px;
    h2{
      font-size: 36px;
      color: $green;
      font-weight:400;
      margin-bottom: 25px;
    }
    .third-section-content{
      max-width: 580px;
      margin: auto;
      margin-bottom: 64px;
    }
    .wrapper{
      background-position: center;
      margin-top: 0px;

      h1{
        margin-top: 240px;
      }

      .dates{
        display: flex;
        justify-content: center;
        img{
          margin-left: 20px;
          margin-right: 20px;
        }
      }

      .subtitle{
        max-width: 650px;
        margin: auto;
        margin-top: 21px;
        margin-bottom: 37px;
      }

      .cta{
        background-color: $atolo-green;
        border-radius: 30px;
        padding: 12px 25px 12px 25px;
        color: white;
        span{
          display: inline-flex;
          align-items: center;
          img{
            margin-left: 10px;
          }
        }
      }

    }
  }
  .webinar-cta{
    background-color: white;
    color:$green-2;
    border:1px solid $green-2;
    svg > #arrow-right-circle{
        circle, line, path{
        stroke: $green-2;
      }
    }
  }

  .newbies_2024{
    h1{
      font-weight: 400;
      span{
        display: block;
        font-size: 24px;
        letter-spacing: 3px;
      }
    }
    .dates{
      font-size: 24px;
      font-weight: 400;
    }
    .subtitle{
      font-weight: 400;
      margin-bottom: 0px;
    }
  }
}
.key-figures{
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  h2{
    color: $green;
    font-weight:400;
    margin-bottom: 42px;
    font-size: 36px;
  }
  .figures{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1240px;
    margin: auto;

    .figure-card{
      height: 159px;
      width: 300px;
      border-right: 1px solid $black-grey-lighter;
      text-align: center;
      &-number{
        font-size: 64px;
        color: $green;
        font-weight: 400;
      }
      &-title{
        font-size: 26px;
      }
      &:last-child{
       border-right: 0px solid $black-grey-lighter;
      }
    }

  }
}

#pages_home{
  #testimonials{
    background-color: #F5F5F5;
    padding-top: 100px;

    h2{
      color: $green;
      font-weight:400;
      margin-bottom: 64px;
      font-size: 36px;
    }
    .testimonial-card{
      background-color: #F5F5F5;
      height: 550px;
      position: relative;

      &-logo{
        height: 250px;
        width: 250px;
        padding: 10px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 3px 3px 6px #0000001A;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: 20px;

        .testimonial-logo{
          max-height: 70%;
          max-width: 100%;
        }
      }

      .testimonial-footer{
        position: absolute;
        bottom: 20px;
        left: 0px;
        right: 0px;
        text-align: center;
        h3, h4{
          font-size: 18px;
          color: $green;
          margin-bottom: 8px;
        }
      }

    }
  }
  #partners{
    padding-top: 100px;
    padding-bottom: 100px;
    h2{
      color: $green;
      font-weight:400;
      margin-bottom: 64px;
      font-size: 36px;
    }
    .partners{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 1240px;
      margin: auto;
    }
    .partner{
      height: 150px;
      width: 150px;
      padding: 8px;
      background-color: white;
      border-radius: 12px;
      box-shadow: 3px 3px 12px #0000001A;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 12px;
      margin-bottom: 20px;
    }
  }

  @media (max-width: 768px) {

    .second-section{
      min-height: 200px;

      .categories{
        display: flex;
        width: auto;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;

        .category{
          min-width: 281px;
        }
      }
    }

    .key-figures .figures .figure-card {
        border-right: none;
    }

    .third-section{
      padding-top: 90px;
    }
  }
}
