#products_show{
  .wrapper{
    margin-top: 70px;
    height: 64vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    h1{
      color: white;
    }
  }
  .container{
    div{
      padding: 24px 12px;
    }
  }
}
