#products_show{
  .wrapper{
    margin-top: 80px;
    height: 64vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1{
      color: white;
      font-size: 54px;
    }
    h2{
      margin-bottom: 0;
      text-transform: uppercase;
      font-size: 26px;
      font-weight: 400;
      color: #01B27B;
      &.pink-title{
        color: #DB0B5B;
      }
    }
  }
  .container{
    div.description {
      margin-top: 100px;
      margin-bottom: 100px;

      h1, h2{
        font-size: 22px;
      }
    }
    h3{
      font-weight: bold;
      color: #01B27B;
      margin-bottom: 32px;
    }

    &.pink-container{
      h3{
        color: #DB0B5B;
      }
    }
    .content{
      margin-bottom: 100px;
    }
  }

 #main-contact-form{
  flex-direction: column;
  .main-contact-form-container{
    margin-top: 0px;
    h3{
      text-align: center;
      font-size: 26px;
      margin: auto;
      margin-bottom: 32px;
      font-weight: 400;
      color: #01B27B;
    }

    form{
      h2{
        display: none;
      }
    }
  }
  .pink-container{
    h3{
      color: #DB0B5B;
    }
  }
 }
 .wrapper.footer-border{
  margin-top: 0px;
 }
}

#products_preview, #products_show, #pages_category {

  .container{
    .first-section{
      margin-top: 210px;
      padding-bottom: 350px;
    }


    h1{
      font-size: 48px;
    }
    .trix-content{
      font-size: 18px;
      line-height: 24px;
    }

    .quote{

      svg{
        position: absolute;
        top: -16px;
        left: -13px;
      }

      font-size: 36px;
      line-height: 40px;
      position: relative;
    }
    .quote-author{
      color: #B2B2B2;
      font-size: 18px;
      margin-top: 20px;
    }
  }

  .second-section{
    background-color: #F5F5F5;

    .container{
      position: relative;

      .product-image{
        max-width: 100%;
        margin: auto;
        max-height: 450px;
        display: block;
        top: -250px;
        position: absolute;
      }

      .practicalities-title{
        padding-top: 300px;
        h2{
          margin: auto;
          margin-bottom: 64px;
          font-size: 32px;
          font-weight: 400;
        }

      }
      .row.practicalities > * {
          padding: 0 0 0 0;
      }

      .relative-content{
        position: relative;
        height: 250px;
        margin-bottom: 450px;
      }

      .practicalities.absolute{
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
      }

      .practicalities-card{
        color: white;
        font-size: 18px;
        text-align: center;
        padding: 49px 42px;
        border-radius: 12px;
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 16px;
        box-shadow: 6px 6px 12px #0000000D;
        height: 90%;
      }

      .target-card{
        background-color: white;
        min-height: 450px;
        text-align: center;
        padding: 57px;
        margin-left: 8px;
        margin-right: 8px;
        border-radius: 12px;
        box-shadow: 6px 6px 12px #0000000D;
        margin-top: 16px;

        .icon{
          text-decoration: none;
          border-bottom: none;
          position: relative;
          text-align: center;
          height: 154px;
          width: 154px;
          border-radius: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto;
          margin-bottom: 40px;
          background-color: #F5F5F5;
        }

        h3{
          font-size: 24px;
          color:  #41748D;
        }
        &-content{
          text-align: start;
        }
      }
    }
  }

  #discount{
    .content{
      padding-top: 130px;
      padding-bottom: 110px;
    }
  }

  .blue{
    .first-section{
      h1{
        color: $blue;
      }

      .quote > svg > path {
        fill: $blue;
      }
      .quote{
        color: $blue;
      }
    }

    .second-section{
      h2, h3 {
        color: $blue;
      }

      .practicalities-card{
        background-color: $blue;
      }

      .target-card > .icon > svg {
        path {
        fill: $blue;
        }
      }
      .target-card > h3{
        color: $blue;
      }
    }

    .contact-banner{
      background-color: $blue;

      .contact-us-btn{
        background-color: $blue-darker;
      }

      svg > #arrow-right-circle{
        circle, line, path{
          stroke: $blue;
        }
      }
    }
    #discount{
      h2{
        color: $blue;
      }
    }
  }
  .yellow{
    .first-section{
      h1{
        color: $yellow;
      }

      .quote > svg > path {
        fill: $yellow;
      }
      .quote{
        color: $yellow;
      }
    }

    .second-section{
      h2, h3 {
        color: $yellow;
      }

      .practicalities-card{
        background-color: $yellow;
      }

      .target-card > .icon > svg {
        path {
        fill: $yellow;
        }
      }
      .target-card > h3{
        color: $yellow;
      }
    }

    .contact-banner{
      background-color: $yellow;
      .contact-us-btn{
        background-color: $yellow-darker;
      }

      svg > #arrow-right-circle{
        circle, line, path{
          stroke: $yellow;
        }
      }
    }
    #discount{
      h2{
        color: $yellow;
      }
    }
  }
  .red{
    .first-section{
      h1{
        color: $red;
      }

      .quote > svg > path {
        fill: $red;
      }
      .quote{
        color: $red;
      }
    }

    .second-section{
      h2, h3 {
        color: $red;
      }

      .practicalities-card{
        background-color: $red;
      }

      .target-card > .icon > svg {
        path {
        fill: $red;
        }
      }
      .target-card > h3{
        color: $red;
      }
    }

    .contact-banner{
      background-color: $red;
      .contact-us-btn{
        background-color: #8D073B;
      }

      svg > #arrow-right-circle{
        circle, line, path{
          stroke: $red;
        }
      }
    }
    #discount{
      h2{
        color: $red;
      }
    }
  }
  .green{
    .first-section{
      h1{
        color: $green-2;
      }

      .quote > svg > path {
        fill: $green-2;
      }
      .quote{
        color: $green-2;
      }
    }

    .second-section{
      h2, h3 {
        color: $green-2;
      }

      .practicalities-card{
        background-color: $green-2;
      }

      .target-card > .icon > svg {
        path {
        fill: $green-2;
        }
      }
      .target-card > h3{
        color: $green-2;
      }
    }

    .contact-banner{
      background-color: $green-2;
      .contact-us-btn{
        background-color: #007B55;
      }

      svg > #arrow-right-circle{
        circle, line, path{
          stroke: $green-2;
        }
      }
    }
    #discount{
      h2{
        color: $green;
      }
    }
  }
  @media (max-width: 768px) {

    .container .first-section{
      padding-bottom: 60px;
    }

    .second-section .container .practicalities-title{
      padding-top: 90px;
    }

    .second-section .container .product-image{
      position: relative;
      top: inherit;
    }

    .first-section .quote, .first-section .quote-author{
      display: none;
    }

    .second-section .container .relative-content{
      height: auto;
      margin-bottom: 0px;
      padding-bottom: 100px;
    }
    .second-section .container .practicalities.absolute{
      position: relative;
    }
  }
}
