div.tabs-1-anchor,
div.tabs-2-anchor,
div.tabs-3-anchor{
  display: block;
  position: relative;
  top: -72px;
  visibility: hidden;
}

div.engagement-products-anchor,
div.communication-products-anchor,
div.languages-products-anchor{
  display: block;
  position: relative;
  top: -72px;
  visibility: hidden;
}

div.value-one-anchor,
div.value-two-anchor,
div.value-three-anchor,
div.value-four-anchor,
div.value-five-anchor,
div.contact-anchor{
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

#content-selector{
  color: white;
  background: none;
}

.selector-box{
    // background: rgba(0,0,0, 0.2);
}

.mobile-content-selector{
  display: flex;
  justify-content: center;
}
.mobile-content-selector li{
  margin: 1rem;
}

@media screen and (max-width: 736px){
  #content-selector{
    display: none;
  }
}

@media screen and (min-width: 736px){
  .mobile-content-selector{
    display: none;
  }
}

.approach-background{
  // -webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
  // filter: blur(1px);
  // filter: grayscale(30%);
  // filter: rgba(0, 0, 0, 1);
  // background-image: linear-gradient(-225deg, rgba(0,101,200,0.5) 0%, rgba(0,36,61,0.5) 50%);
  height: 90vh;
}

.atolo-green{
  font-color: $atolo-green;
}

.approaches{
  // height: 80vh;
  margin-bottom: 0px !important;
}

.engagement-selector.active h3,
.communication-selector.active h3,
.languages-selector.active h3{
  // color: $atolo-green;
  // font-weight: bold;
}

.engagement-selector.active i,
.communication-selector.active i,
.languages-selector.active i{
  color: $atolo-green;
}

.engagement-mobile-selector.active,
.communication-mobile-selector.active,
.languages-mobile-selector.active{
  color: $atolo-green;
  font-weight: bold;
}

.engagement-selector,
.communication-selector,
.languages-selector{
  cursor: pointer;
}

.engagement-selector h3,
.communication-selector h3,
.languages-selector h3{
    display: inline-block;
    margin-left: 1rem;
}

.engagement-selector i,
.communication-selector i,
.languages-selector i{
  color: black;
}

.no-top-page-break{
  box-shadow: none !important;
}

.no-bottom-margin{
  margin: 0 0 0 0 !important;
}

.padding-bottom{
  padding-bottom: 1rem;
}

@media (max-width: 680px) {
  .communication-spotlight-desktop{
    display: none;
  }
}

@media (min-width: 680px) {
  .communication-spotlight-mobile{
    display: none;
  }
}

.engagement-small-margin{
  margin-bottom: 1rem;
}

.engagement-approach-box{
  height: 80vh;
}

.engagement-approach-flex-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
