div.tabs-1-anchor{
  display: block;
  position: relative;
  top: -72px;
  visibility: hidden;
}

div.tabs-2-anchor{
  display: block;
  position: relative;
  top: -72px;
  visibility: hidden;
}

div.tabs-3-anchor{
  display: block;
  position: relative;
  top: -72px;
  visibility: hidden;
}

div.engagement-products-anchor,
div.communication-products-anchor,
div.languages-products-anchor{
  display: block;
  position: relative;
  top: -72px;
  visibility: hidden;
}

div.value-one-anchor,
div.value-two-anchor,
div.value-three-anchor,
div.value-four-anchor,
div.value-five-anchor{
  display: block;
  position: relative;
  top: -72px;
  visibility: hidden;
}

div.team-anchor{
  display: block;
  position: relative;
  top: -72px;
  visibility: hidden;
}

#content-selector{
  background: none;
  color: white;
}

.mobile-content-selector{
  display: flex;
  justify-content: center;
}
.mobile-content-selector li{
  margin: 1rem;
}

@media screen and (max-width: 736px){
  #content-selector{
    display: none;
  }
}

@media screen and (min-width: 736px){
  .mobile-content-selector{
    display: none;
  }
}

.approach-background{
  // -webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
  // filter: blur(1px);
  // filter: grayscale(30%);
  // filter: rgba(0, 0, 0, 1);
  // background-image: linear-gradient(-225deg, rgba(0,101,200,0.5) 0%, rgba(0,36,61,0.5) 50%);
  height: 90vh;
}

.atolo-green{
  font-color: $atolo-green;
  font-weight: bold;
}

.selector.active h3{
  color: $atolo-green;
  font-weight: bold;
}

.mobile-selector.active {
  color: $atolo-green;
  font-weight: bold;
}

.approaches{
  height: 80vh;
  margin-bottom: 0px !important;
}

@media screen and (max-width: 1680px) {

}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 736px) {

}
