div.engagement-solutions,
div.communication-solutions,
div.languages-solutions{
  display: block;
  position: relative;
  top: -72px;
  visibility: hidden;
}

div.engagement-products-anchor,
div.communication-products-anchor,
div.languages-products-anchor{
  display: block;
  position: relative;
  top: -72px;
  visibility: hidden;
}

div.value-one-anchor,
div.value-two-anchor,
div.value-three-anchor,
div.value-four-anchor,
div.value-five-anchor,
div.contact-anchor{
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

#content-selector{
  color: white;
  background: none;
}

.selector-box{
    // background: rgba(0,0,0, 0.2);
}

.mobile-content-selector{
  display: flex;
  justify-content: center;
}
.mobile-content-selector li{
  margin: 1rem;
}

@media screen and (max-width: 736px){
  #content-selector{
    display: none;
  }
}

@media screen and (min-width: 736px){
  .mobile-content-selector{
    display: none;
  }
}

.approach-background{
  // -webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
  // filter: blur(1px);
  // filter: grayscale(30%);
  // filter: rgba(0, 0, 0, 1);
  // background-image: linear-gradient(-225deg, rgba(0,101,200,0.5) 0%, rgba(0,36,61,0.5) 50%);
  height: 90vh;
}

.atolo-green{
  font-color: $atolo-green;
}

.approaches{
  // height: 80vh;
  margin-bottom: 0px !important;
}

.engagement-selector.active h3,
.communication-selector.active h3,
.languages-selector.active h3{
  // color: $atolo-green;
  // font-weight: bold;
}

.engagement-selector.active i,
.communication-selector.active i,
.languages-selector.active i{
  color: $atolo-green;
}

.engagement-mobile-selector.active,
.communication-mobile-selector.active,
.languages-mobile-selector.active{
  color: $atolo-green;
  font-weight: bold;
}

.engagement-selector,
.communication-selector,
.languages-selector{
  cursor: pointer;
}

.engagement-selector h3,
.communication-selector h3,
.languages-selector h3{
    display: inline-block;
    margin-left: 1rem;
}

.engagement-selector i,
.communication-selector i,
.languages-selector i{
  color: black;
}

.no-top-page-break{
  box-shadow: none !important;
}

.no-bottom-margin{
  margin: 0 0 0 0 !important;
}

.padding-bottom{
  padding-bottom: 1rem;
}

@media (max-width: 680px) {
  .communication-spotlight-desktop{
    display: none;
  }
}

@media (min-width: 680px) {
  .communication-spotlight-mobile{
    display: none;
  }
}

.engagement-small-margin{
  margin-bottom: 1rem;
}

.engagement-approach-box{
  height: 80vh;
}

.engagement-approach-flex-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.trainers {
  border-top: solid 1px rgba(0, 0, 0, 0.075);
}

#pages_eval{
  section.banner.style1{
    h2{
      font-size: 48px;
      font-weight: 400;
      color: $green;
    }

    h3{
      font-size: 28px;
      font-weight: 400;
      color: $green;
      margin-bottom: 37px;
    }
    .content{
      .trix-content{
        margin-bottom: 48px;
        font-size: 18px;
        color: #373A36;
      }
    }
    .image{
      width: 40%;
    }
    .regular{
      margin-right: 30px;
    }
  }
  section#value-one, section#value-two {
    .content{
      padding-top: 140px;
      padding-bottom: 140px;
    }

    h3{
      font-size: 32px;
      font-weight: 400;
      color: $green;
    }
    .trix-content{
      margin-bottom: 48px;
      font-size: 18px;
      color: #373A36;
    }
  }
  section#value-one{
    background-color: $light-gray;
    box-shadow: none;
  }

  .contact-banner{
    background-color: $green;
    flex-direction: column;

    .contact-us-text{
      max-width: 650px;
      margin-bottom: 60px;
    }
    .contact-us-btn{
      background-color: $green-darker;
      width: 520px;
    }

    svg > #arrow-right-circle{
      circle, line, path{
        stroke: $green;
      }
    }
  }
}
