.text-align-center{
  text-align: center;
}

div.yourworld-anchor{
  display: block;
  position: relative;
  top: -72px;
  visibility: hidden;
}

div.testimonials-anchor{
  display: block;
  position: relative;
  top: -72px;
  visibility: hidden;
}

