<!-- Banner -->
  <section class="banner style5 orient-left content-align-center image-position-center fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
      <h2><%= t("welcome.banner.engagement_caption") %></h2>
      </br>
      <!-- Keep on learning -->
<!--       <h3>Keep on learning!</h3> -->
<!--       <h3><%#= t('solutions.communication.spotlight.online_text') %></h3>
      <ul class="actions stacked text-align-center">
        <li>
          <%#= link_to t('solutions.communication.spotlight.contact_button'), contact_path, :class => "button primary" %>
        </li>
      </ul> -->
      <!-- end -->
      <!-- Discover our events -->
      <h3><%= t("welcome.banner.discover_text") %></h3>
      <ul class="actions stacked text-align-center">
        <li>
          <%= link_to t('welcome.banner.discover_button'), events_path, :class => "button primary" %>
        </li>
      </ul>
      <!-- end -->
      <div class="chevron-container">
        <a href="#yourworld-anchor" class="smooth-scroll chevron-holder chevron-banner">
          <i class="fas fa-chevron-down"></i>
        </a>
      </div>
    </div>
    <div class="image">
      <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1561640681/people1.jpg", :alt => "image") %>
    </div>
  </section>
