<!-- Banner -->
  <section class="banner style5 orient-left content-align-center image-position-center fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
      <!-- <h1><span class="atolo-green">A</span>TOLO</h1> -->
      <h2><%= t("welcome.banner.engagement_caption") %></h2>
      <!-- <p>Hellloooo this is atolo</p> -->
<!--       <a href="#first" class="icon style2"><i class="fas fa-arrow-down"></i></a> -->
      <a href="#yourworld-anchor" class="smooth-scroll"><i class="fas fa-chevron-down"></i></a>
    </div>
    <div class="image">
      <%= image_tag("people/people1.jpg", :alt => "image") %>
    </div>
  </section>
