  <section id="counter" class="wrapper style1 align-center">
    <div class="inner white-text">
      <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="mb30 wow fadeInUp" data-wow-delay="0.2s">
                  <h1 class="green-text"><span class="counter">124</span></h1>
                  <h2 class="font600  white-text">Expert Trainers</h2>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="mb30 wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="green-text"><span class="counter">500</span></h1>
                    <h2 class="font600  white-text">Trainings</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="mb30 wow fadeInUp" data-wow-delay="0.3s">
                    <h1 class="green-text"><span class="counter">40</span></h1>
                    <h2 class="font600  white-text">Corporate clients</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="mb30 wow fadeInUp" data-wow-delay="0.3s">
                    <h1 class="green-text"><span class="counter">600</span></h1>
                    <h2 class="font600  white-text">Trainees</h2>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>


