<!-- Items -->
  <section id="testimonials" class="wrapper style1 align-center">
    <div class="inner">
      <h2>Testimonials</h2>
      <div class="owl-carousel owl-theme testimonial-cards onload-fade-in">
          <section class="testimonial-card">
            <%= image_tag("logo/konica.jpg", :alt => "image", :class => "testimonial-logo") %>
            <h3>Egwin Bovyn</h3>
            <h4>Konica Minolta</h4>
            <p class="small-font">"The training was completely focused on my business and even my marketing materials were used. 100% customized! Very involved and professional trainer, it is like getting training from a colleague you have known for years."</p>
          </section>
          <section class="testimonial-card">
            <%= image_tag("logo/axa.png", :alt => "image", :class => "testimonial-logo") %>
            <h3>Jennemie Driesens</h3>
            <h4>Axa Assistance</h4>
            <p class="small-font">"The training is the result of a permanent dialogue between trainer and participants. During the training, we were able to provide continuous feedback which helped guide the content and approach wherever we wanted."</p>
          </section>
          <section class="testimonial-card">
            <%= image_tag("logo/credendo.png", :alt => "image", :class => "testimonial-logo") %>
            <h3>Marina Hautman</h3>
            <h4>Credendo</h4>
            <p class="small-font">"Excellent practice-oriented training. The concept allows you to focus on a project rather than the language. As a result, we progressed without realizing it by using concepts, vocabulary and expressions directly related to our needs. This makes speaking with our colleagues feel more comfortable."</p>
          </section>
          <section class="testimonial-card">
            <%= image_tag("logo/cofinimmo.png", :alt => "image", :class => "testimonial-logo") %>
            <h3>Petra Beylemans</h3>
            <h4>Cofinimmo</h4>
            <p class="small-font">"Focused on specific needs using simulations of real-life situations. Very good support via the online platform and teaching materials. I speak more fluently, and I am more confident and prepared for concrete situations in the workplace."</p>
          </section>
      </div>
    </div>
  </section>
