        <!-- Spotlight -->
          <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
            <div class="content">
              <h2>Imperfections are opportunities for growth</h2>
              <p>Onze kracht reikt verder dan de vele jaren waarin we actief zijn in training, verder dan het aantal sectoren en verder dan de waaier aan profielen die we al getraind hebben. Onze kracht is bescheidenheid: kunnen erkennen dat we soms obstakels en limieten tegenkomen. En dan kracht kunnen putten uit onze grote zwakte, onze nieuwsgierigheid! Die nieuwsgierigheid die ons zin doet krijgen om te ontdekken hoe we dat obstakel kunnen wegwerken, hoe we onze grenzen kunnen verleggen en hoe we er sterker kunnen uitkomen.</p>
              <ul class="actions stacked">
                <li><a href="#" class="button">Learn More</a></li>
              </ul>
            </div>
            <div class="image">

              <%= image_tag("spotlight01.jpg", :alt => "image") %>
            </div>
          </section>
