<!-- Spotlight -->
          <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
            <div class="content">
              <h2>Curious by nature</h2>
              <p>We kunnen het echt niet helpen. Wat we ook doen, het is gekleurd door een spontane nieuwsgierigheid ...<br>Om te zien hoever we kunnen gaan en hoe veel we nog kunnen groeien. Om te begrijpen wie onze trainees zijn, welke uitdagingen zij tegenkomen, welke hoop en verwachtingen zij koesteren, nieuwsgierig naar hoever we hen kunnen voortstuwen. Naar uw wereld, hoe die werkt en hoe we voor u meerwaarde kunnen creëren in die wereld. Dit is de filosofie waarmee wij onze trainers en trainees bezielen.</p>
              <ul class="actions stacked">
                <li><a href="#" class="button">Learn More</a></li>
              </ul>
            </div>
            <div class="image">

              <%= image_tag("spotlight01.jpg", :alt => "image") %>
            </div>
          </section>
