        <!-- Spotlight -->
          <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in" id="first">
            <div class="content">
              <h2>Our people are our assets</h2>
              <p>Wij selecteren trainers die onze waarden delen en sterker maken. Tegelijkertijd moeten zij aan onze hoge verwachtingen voldoen. Van hun kant mogen zij oprechte waardering van ons verwachten. We koesteren hun competenties en moedigen hen aan om te blijven groeien door hen alle steun en kansen te bieden. We handelen vanuit een groot respect en houden rekening met hun persoonlijke belangen. Als resultaat kan u rekenen op toptrainers om uw medewerkers te helpen groeien.</p>
              <ul class="actions stacked">
                <li><a href="#" class="button">Learn More</a></li>
              </ul>
            </div>
            <div class="image">

              <%= image_tag("spotlight01.jpg", :alt => "image") %>
            </div>
          </section>
