<!-- Spotlight -->
<section class="spotlight style2 orient-right content-align-left image-position-center onload-image-fade-in onload-content-fade-right" id="first">
  <div class="content">
    <h2><%= t('solutions.engagement.spotlight.header') %></h2>
    <p class="align-justify"><%= t('solutions.engagement.spotlight.content') %></p>
    <ul class="actions stacked text-align-center">
      <li>
        <div class="chevron-container">
          <a href="#engagement-products-anchor" class="smooth-scroll chevron-holder chevron-grey">
          <i class="fas fa-chevron-down"></i>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <div class="image">
    <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559473760/engagement07.jpg", :alt => "image") %>
    <%#= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1561639328/Atolo-62.jpg", :alt => "image") %>
  </div>
</section>
