<!-- Spotlight -->
<section class="spotlight style2 orient-right content-align-left image-position-center onload-image-fade-in onload-content-fade-right" id="first">
  <div class="content">
    <h2><%= t('solutions.engagement.header') %></h2>
    <p><%= t('solutions.engagement.content') %></p>
    <ul class="actions stacked text-align-center">
      <li><a href="#products" class="smooth-scroll"><i class="fas fa-chevron-down"></i></a></li>
    </ul>
  </div>
  <div class="image">
    <%= image_tag("engagement/engagement02.jpg", :alt => "image") %>
  </div>
</section>
