<section id="contact-us" class="wrapper style1 align-center counter-contact fullscreen">
  <!-- Form -->
  <section id="contact" class="wrapper style1 align-left fullscreen contact-form">
    <div class="inner">
      <header>
        <h2 class="align-center">Contact us</h2>
      </header>
      <div class="content onload-image-fade-in onload-content-fade-right">
        <%= render 'shared/contact-form' %>
      </div>
    </div>
  </section>
</section>
