<section id="counter" class="wrapper style1 align-center counter-contact">
  <div id="counter-section" class="inner white-text">
    <!-- <div class=""> -->
      <div class="counter-container">
        <div class="mb30 wow fadeInUp display-flex" data-wow-delay="0.2s">
            <h1 class="green-text"><span id="trainer-counter" class="counter">0</span></h1>
            <h3 class="font600  white-text">Cycles</h3>
        </div>

        <div class="mb30 wow fadeInUp display-flex" data-wow-delay="0.1s">
            <h1 class="green-text"><span id="training-counter" class="counter">0</span></h1>
            <h3 class="font600  white-text">Trainers</h3>
        </div>

        <div class="mb30 wow fadeInUp display-flex" data-wow-delay="0.3s">
            <h1 class="green-text"><span id="client-counter" class="counter">0</span></h1>
            <h3 class="font600  white-text">Individual trainees</h3>
        </div>

        <div class="mb30 wow fadeInUp display-flex" data-wow-delay="0.3s">
            <h1 class="green-text"><span id="trainee-counter" class="counter">0</span></h1>
            <h3 class="font600  white-text">Trainees in cycles</h3>
        </div>
      </div>
    <!-- </div> -->
  </div>
  <!-- Form -->
  <section id="contact" class="wrapper style1 align-left contact-in-counter">
    <div class="inner">
      <header>
        <h2 class="align-center">Contact us</h2>
      </header>
      <div class="content">

        <form method="post" action="#">
          <div class="fields">
            <div class="field half">
              <label for="name">Name</label>
              <input type="text" name="name" id="name" value="" />
            </div>
            <div class="field half">
              <label for="company">Company</label>
              <input type="text" name="company" id="company" value="" />
            </div>
            <div class="field">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" value="" />
            </div>
            <div class="field">
              <label for="message">Message</label>
              <textarea name="message" id="message" rows=""></textarea>
            </div>
            <div class="field half">
              <input type="checkbox" id="copy" name="copy" checked/>
              <label for="copy">Email me a copy of this message</label>
            </div>
            <div class="field half">
              <input type="checkbox" id="human" name="human" />
              <label for="human">I am a human and not a robot</label>
            </div>
          </div>
          <ul class="actions align-center">
            <li><input class="primary" type="submit" name="submit" id="submit" value="Send Message" /></li>
          </ul>
        </form>

      </div>
    </div>
  </section>
</section>
