<section id="counter" class="wrapper style1 align-center counter-contact">
  <section id="contact" class="wrapper style1 align-left contact-in-counter" style="margin: auto;">
    <div class="inner">
      <header>
        <h2 class="align-center"><%= t('form.contact') %></h2>
      </header>
      <div class="content">
        <%= render 'shared/contact-form' %>
      </div>
    </div>
  </section>
</section>
