  <section id="counter" class="wrapper style1 align-center counter-contact">
    <div class="inner white-text">
      <!-- <div class=""> -->
        <div class="counter-container">
          <div class="mb30 wow fadeInUp display-flex" data-wow-delay="0.2s">
              <h2 class="green-text"><span class="counter">124</span></h2>
              <h3 class="font600  white-text">Expert Trainers</h3>
          </div>

          <div class="mb30 wow fadeInUp display-flex" data-wow-delay="0.1s">
              <h2 class="green-text"><span class="counter">500</span></h2>
              <h3 class="font600  white-text">Trainings</h3>
          </div>

          <div class="mb30 wow fadeInUp display-flex" data-wow-delay="0.3s">
              <h2 class="green-text"><span class="counter">40</span></h2>
              <h3 class="font600  white-text">Corporate clients</h3>
          </div>

          <div class="mb30 wow fadeInUp display-flex" data-wow-delay="0.3s">
              <h2 class="green-text"><span class="counter">600</span></h2>
              <h3 class="font600  white-text">Trainees</h3>
          </div>
        </div>
      <!-- </div> -->
    </div>
    <!-- Form -->
    <section id="contact" class="wrapper style1 align-left contact-in-counter">
      <div class="inner">
        <header>
          <h2 class="align-center">Contact us</h2>
        </header>
        <div class="content">

          <form method="post" action="#">
            <div class="fields">
              <div class="field half">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="" />
              </div>
              <div class="field half">
                <label for="company">Company</label>
                <input type="text" name="company" id="company" value="" />
              </div>
              <div class="field">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="" />
              </div>
              <div class="field">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="6"></textarea>
              </div>
              <div class="field half">
                <input type="checkbox" id="copy" name="copy" checked/>
                <label for="copy">Email me a copy of this message</label>
              </div>
              <div class="field half">
                <input type="checkbox" id="human" name="human" />
                <label for="human">I am a human and not a robot</label>
              </div>
            </div>
            <ul class="actions align-center">
              <li><input class="primary" type="submit" name="submit" id="submit" value="Send Message" /></li>
            </ul>
          </form>

        </div>
      </div>
    </section>
  </section>
