<!-- Footer -->
  <footer class="wrapper style1 align-center footer-border">
    <div class="inner footer-container">
      <div class="align-left small-font">
        <p>
          Atolo SA<br>
          Avenue de Tervurenlaan 36/18, 1040 Brussels</br>
          Tel: +32 2 609 50 90
        </p>
      </div>
      <div>
        <ul class="icons">
          <li><a href="#" class="icon style2 fab fa-linkedin"><span class="label">LinkedIn</span></a></li>
          <li><a href="#" class="icon style2 fab fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon style2 fab fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon style2 fab fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon style2 fab fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <!-- <p>&copy; Terms of use.</p> -->
      </div>
      <div class="align-right small-font">
        <p>
          Atolo Sàrl<br>
          Rue du petit-chêne 18er, 1003 Lausanne</br>
          Tel: +41 21 806 55 55 | +41 78 736 92 58
        </p>
      </div>
    </div>
  </footer>
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
