  <!--==========================
    Header
  ============================-->
<header id="header">
  <div class="navbar-inner">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
<!--            <a href="#intro"><%= image_tag("atolo.png", :class => "atolo-logo", :alt => "atolo") %></a> -->
          <h1><span class="atolo-green">A</span>TOLO</h1>
      </div>

      <%= render 'shared/navigation' %>
    </div>
  </div>
</header>
