  <!--==========================
    Header
  ============================-->
<header id="header-fixxed">
  <div class="navbar-inner">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <%= link_to welcome_path, :class => 'no-text-decoration' do %>
          <% image_tag("atolo-logo/atolo-new.png", :class => "atolo-logo", :alt => "atolo") %>
          <%= image_tag("atolo-logo/atolo.png", :class => "atolo-logo", :alt => "atolo", style:"margin-top: -18px;") %>
        <% end %>
      </div>

      <%= render 'shared/navigation' %>
    </div>
  </div>
</header>
