  <!--==========================
    Header
  ============================-->
<header id="header-fixed">
  <div class="navbar-inner">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <a href="#intro"><%= image_tag("atolo-logo/atolo.png", :class => "atolo-logo", :alt => "atolo") %></a>
      </div>

      <%= render 'shared/navigation' %>
    </div>
  </div>
</header>
