  <!--==========================
    Header
  ============================-->
<header id="header">
  <div class="navbar-inner">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <%= link_to welcome_path, :class => "no-text-decoration" do %>
          <h1><span class="atolo-green">A</span>TOLO</h1>
        <% end %>
      </div>

      <%= render 'shared/navigation' %>
    </div>
  </div>
</header>
