    <section id="approach" class="wrapper style1">
      <div class="inner">
        <h2 class="align-center"><%= t('solutions.languages.trainers.introduction_title') %></h2>
      </div>
    </section>
   <section class="banner style1 orient-right content-align-left image-position-right onload-image-fade-in onload-content-fade-right no-top-page-break padding-bottom">

    <div class="content">
      <div class="pyramid-content">
        <p class="small-font">
          <%= t('solutions.languages.trainers.text') %>
        </p>
      </div>
    </div>
    <div class="languages-pyramid-container">
      <div class="languages-pyramid-top-container">
      </div>
      <div class="languages-pyramid-base-container">
        <div class="languages-pyramid-base-element-one">
        </div>
        <div class="languages-pyramid-base-element-two">
        </div>
      </div>
    </div>
  </section>
