<div id="contact">
  <div id="wrapper" class="divided">
    <%= render 'shared/new_navbar' %>
    <section id="main-contact-form" >
      <div class="content main-contact-form-container">
        <%= render 'shared/contact-form' %>
      </div>
      <div class="informations">
        <h2>Let's get in touch</h2>
        <div class="description">
          A question about our training offer? Looking for a customised learning solution? Interested in working with us? Don’t hesitate to give us a call, to leave us a message or to meet up. We’d love to hear from you!
        </div>
        <div class="network-link">
          <a class ="icon" href="https://www.linkedin.com/company/atolo/" target="_blank">Follow us <i class="fab fa-linkedin-in"></i></a>
        </div>

        <h3>Give us a call</h3>
        <div class="row">
          <div class="col-sm-6">
            ATOLO Belgium
          </div>
          <div class="col-sm-6">
            +32 2 609 50 90
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            ATOLO Switzerland
          </div>
          <div class="col-sm-6">
            +41 21 806 55 55 +41 78 736 92 58
          </div>
        </div>
        <h3>Find us here</h3>
        <div class="row">
          <div class="col-sm-6">
            ATOLO Belgium
          </div>
          <div class="col-sm-6">
            Avenue de Tervurenlaan 36/18<br>1040 Brussels, Belgium
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            ATOLO Switzerland
          </div>
          <div class="col-sm-6">
            Rue du Petit-Chêne 18ter <br>1003 Lausanne, Switzerland
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
