<div id="disclaimer">
    <%= render 'shared/navbar-fixed' %>
    <section class="wrapper style1 align-left">
      <div class="inner">
        <%= eval("LegalPage.find_by_name('cookies')&.content_#{I18n.locale}") %>
      </div>
    <section>
</div>
