<div id="solutions">
  <div id="wrapper" class="divided">
    <%= render 'shared/navbar' %>
    <%= render 'shared/eval/overview' %>
    <div id="contact-anchor" class="contact-anchor"></div>
    <%= render 'shared/contact-counter' %>
  </div>
</div>
