<div id="welcome">
  <!-- Wrapper -->
  <div id="wrapper" class="divided">
  <!-- Your world -->
    <div id="yourworld-anchor" class="yourworld-anchor"></div>
    <section id="yourworld" class="wrapper style1 align-center">
      <div class="inner">
        <h2><%= t("welcome.intro.title") %></h2>
        <div>
          <div class="align-center yourworld-intro">
            <p><%= t("welcome.intro.text_one") %><br><%= t("welcome.intro.text_two") %></p>
          </div>
        </div>


        <div class="items style3 medium onscroll-fade-in">
          <section>
            <div class="flip-profile-card">
              <div class="flip-profile-card-inner">
                <div class="flip-profile-card-front card-one">
                  <div class="card-position">
                    <h2><%= t("welcome.intro.cards.engagement_title") %></h2>
                  </div>
                </div>
                <div class="flip-profile-card-back">
                  <h1>This is random text</h1>
                </div>
              </div>
            </div>
          </section>

        </div>
        <div class="chevron-container">
          <a href="#testimonials-anchor" class="smooth-scroll chevron-holder chevron-grey">
          <i class="fas fa-chevron-down"></i>
          </a>
        </div>
      </div>
    </section>
  </div>
</div>



