<div id="solutions">
  <div id="wrapper" class="divided">
    <%= render 'shared/navbar-fixed' %>
    <%= render 'shared/solutions/offers' %>
    <div class="offer-pages">
      <div id="engagement-page" class="offer-page" >
        <%= render 'shared/solutions/spotlight-engagement' %>
        <%= render 'shared/solutions/gallery-engagement' %>
      </div>
      <div id="communication-page" class="offer-page" >
        <p>Communication</p>
      </div>
      <div id="languages-page" class="offer-page" >
        <p>Languages</p>
      </div>
    </div>
  </div>
</div>
