<%= render 'shared/new_navbar' %>
<% locale = I18n.locale %>
<div class="container" style="margin-top: 190px;">
  <div class="first-section">
    <div class="row">

      <div class="col-md-6 col-xs-12">
        <h1>
          <span>EXPERIENCE</span> <span class="color-green">SUMMER TRAINING</span>
          <span>LIKE NEVER BEFORE</span>
          <span class="font-light">IN LANGUAGES & LEADERSHIP</span>
        </h1>

        <div class="dates">
          <div class="date_from">1 JUNE</div>
          <%= image_tag "icons/green-arrow.svg" %>
          <div class="date_to">15 SEPTEMBER</div>
        </div>
      </div>
      <div class="offset-md-1 col-md-5 col-xs-12">
        <div class="border-green">
        </div>
        <div class="content">
          Make this summer the one where you unlock new skills and experiences.
          <div style="margin-top: 14px;font-weight:500;">Summer. Grow. Enjoy. Repeat.</div>
        </div>
        <a href="#discount" class="regular"><div>
          <span class="color-white">Join NOW</span> and get a<br>early bird discount</div><span class="promo">15%</span>
          <%= image_tag 'icons/arrow-down-circle-green-darker.svg' %></a>
      </div>
    </div>
  </div>
</div>
