<div id="values">
  <div id="wrapper" class="divided">
    <%= render 'shared/new_navbar' %>
    <%= render 'shared/values/overview' %>
    <div id="contact-anchor" class="contact-anchor"></div>
    <%= render 'shared/contact-counter' %>
  </div>
</div>
