<section class="wrapper style1 align-center">
  <div class="inner">
    <h2><%= t('about.location') %></h2>
    <div class="items style3 large onscroll-fade-in">
      <section id="">
        <div class="map">
          <div class="mapouter"><div class="gmap_canvas"><iframe width="381" height="305" id="gmap_canvas" src="https://maps.google.com/maps?q=atolo%20brussels&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de"></a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
        </div>
        <p>
          Atolo SA<br>
          Avenue de Tervurenlaan 36/18, 1040 Brussels<br>
          <i class="fas fa-phone"></i> +32 2 609 50 90
        </p>
      </section>
      <section>
        <div class="map">
          <div class="mapouter"><div class="gmap_canvas"><iframe width="381" height="305" id="gmap_canvas" src="https://maps.google.com/maps?q=atolo%20lausanne&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style>.mapouter{position:relative;text-align:right;height:305px;width:381px;}.gmap_canvas {overflow:hidden;background:none!important;height:305px;width:381px;}</style></div>
        </div>
        <p>
          Atolo Sàrl<br>
          Rue du Petit-Chêne 18er, 1003 Lausanne<br>
          <i class="fas fa-phone"></i> +41 21 806 55 55 | +41 78 736 92 58
        </p>
      </section>
    </div>
  </div>
</section>
