<!-- Spotlight -->
  <section class="spotlight style2 orient-right content-align-left image-position-center onscroll-image-fade-in onscroll-content-fade-right" id="first">
    <div class="content">
      <h2><%= t('about.probono.title') %></h2>
      <p class="align-justify"><%= t('about.probono.content') %></p>
<!--       <ul class="actions stacked">
        <li><a href="#" class="button">Learn More</a></li>
      </ul> -->
    </div>
    <div class="image">
      <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1561639316/Atolo-51.jpg", :alt => "image") %>
      <%#= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559226230/probono01.jpg", :alt => "image") %>
    </div>
  </section>
