  <section id="products" class="wrapper style1 align-center">
    <div class="inner">
      <h2><%= t('solutions.communication.approach.introduction_title') %></h2>
      <p><%= t('solutions.communication.approach.introduction_text') %></p>
    </div>
  </section>

  <section class="banner style1 orient-right content-align-left image-position-right onload-image-fade-in onload-content-fade-right">
    <div class="content">
      <h2 class="margin-top"><%= t('values.introduction_title') %></h2>
      <p class="major small-font"><%= t('values.introduction_text') %></p>
    </div>
    <div class="pyramid-container">
      <div id="pyramid-selector-one" class="pyramid-selector pyramid-top-container">
        <h3 class="pyramid-title">The person</h3>
        <h4 class="pyramid-title">Real change starts internally</h4>
      </div>
      <div class="pyramid-base-container">
        <div id="pyramid-selector-two" class="pyramid-selector pyramid-base-element-one active">
          <h3 class="pyramid-title">Key communication moments</h3>
          <h4 class="pyramid-title">Real change starts internally</h4>
        </div>
        <div id="pyramid-selector-three" class="pyramid-selector pyramid-base-element-two">
          <h3 class="pyramid-title">The skills</h3>
          <h4 class="pyramid-title">Real change starts internally</h4>
        </div>
      </div>
    </div>
  </section>
