<section class="spotlight style2 orient-right content-align-left fullscreen onload-image-fade-in onload-content-fade-right">
  <div class="content">
    <h2 class="margin-top">In need of Summertime inspiration for your teams? </h2>
    <h3 class="margin-top">How about offering inspirational learning moments?</h3>
    <p class="major small-font  align-justify">Your teams (and yourself) have all made huge efforts these past months. We recognize this at Atolo and wish to support your teams by offering short, impactful and inspiring learning solutions this Summer. How?</p>
    <div style="display: flex;">
      <div>
        <p>By inviting them to take part in the Atolo Summer Classics (fully online)</p>
        <ul class="actions stacked">
          <li><a href="#online-one-anchor" class="button primary wide smooth-scroll">Learn more</a></li>
        </ul>
      </div>
      <div style="margin-right: 5rem;">
        <h3>OR</h3>
      </div>
      <div>
        <p>By surprising them with a gift voucher for a personalized learning moment</p>
        <ul class="actions stacked">
          <li><%= link_to "Learn more", asset_path("atolo.pdf", skip_pipeline: true), :class => "button primary wide" %></li>
        </ul>
      </div>
    </div>



  </div>
  <div class="image">
    <%#= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559473839/people11.jpg", :alt => "image") %>
    <%= image_tag("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1589790836/Digital_2.jpg", :alt => "image") %>
  </div>
</section>



