.confirm-button-class, .swal2-styled.swal2-confirm{
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -ms-appearance: none !important;
  appearance: none !important;
  -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  border: 0 !important;
  cursor: pointer !important;
  display: inline-block !important;
  font-weight: 400 !important;
  letter-spacing: 0.125em !important;
  text-align: center !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  white-space: nowrap !important;
  font-size: 0.75rem !important;
  max-width: 20rem !important;
  height: 3.75em !important;
  line-height: 3.75em !important;
  border-radius: 3.75em !important;
  padding: 0 2.5em !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  background-color: transparent !important;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2) !important;
  color: #000000 !important;
}

button.swal2-confirm.swal2-styled:hover{
  background: black !important;
  color: white !important;
}

.swal2-title {
  font-weight: 300 !important;
}

div.swal2-popup.swal2-modal.swal2-show{
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}
