.testimonial-avatar-container{
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  // background: #E6E7ED;
  border: 2px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  align-content: center;
  align-items: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.testimonial-image{
  // max-height: 100%;
  max-width: 60%;
  vertical-align: middle;
}
