.contact-form{
  background: white;
  width: 70%;
  display: inline-block;
  margin-top: 25vh;
}

#contact-us {
  background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.7)), url('https://res.cloudinary.com/dr7ypsdyf/image/upload/v1560503564/JAN_2990.jpg') fixed center center;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .contact-form {
    width: 100%;
  }
}

.main-contact-form-container{
  background: white;
  padding: 2rem;
  margin-top: 10rem;
  border-radius: 0.5rem;
}

.background-gradient{
  filter: grayscale(100%);
}

#main-contact-form{
  background: linear-gradient(rgba(255,255,255,0.3), rgba(0,0,0,0.7)), url('https://res.cloudinary.com/dr7ypsdyf/image/upload/v1560503580/JAN_2987.jpg') fixed center center;
  background-size: cover;
}
