.product-cards {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  margin: 3rem 0;
  position: relative;
  overflow: hidden;
}

.product-cards > * {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  border-left-width: 1px;
  border-top-width: 0px;
}

.no-display{
  opacity: 0.0;
}

.product-card {
  padding: 0.1875rem 2.1875rem 0.1875rem 2.1875rem ;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  // background: white;
}

.product-card-margin{
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  border-radius: 5px;
}

.product-card-buttons{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem 1rem 2rem;
}

.product-card-buttons button{
  width: 50%;
  margin: 0.5rem;
}

button .product-card-button{
  width: 100%;
}

.featherlight-content{
  background: none !important;
}


/*------------------
  Categories section
---------------------*/

.categorie-item {
  margin-bottom: 1rem;
  background: #edf4f6;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 5px;
  // height: 100%;
  // width: 100vh;
}

@media screen and (min-width: 736px) {
  .categorie-item {
      // width: 100vh;
      height: 80vh;
  }
}

@media screen and (min-width: 1280px) {
  .categorie-item {
      width: 115vh;
      height: 80vh;
  }
}

@media screen and (min-width: 1680px) {
  .categorie-item {
      width: 120vh;
      height: 80vh;
  }
}

.categorie-item .ci-thumb {
  background-size: cover;
  position: relative;
  max-height: 40%;
  // width: 100%;
  padding: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  overflow: hidden;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


@media screen and (min-width: 700px) {
  .categorie-item .ci-text {
    padding: 0.5rem 1.5rem  0.5rem 1.5rem;
  }
}

.categorie-item .ci-text span {
  font-size: 18px;
  font-weight: 600;
  color: $atolo-green;
}

.product-card-content-margin {
  margin: 0px;
}

.categorie-item:hover {
  // background:  $atolo-green;
}

.categorie-item:hover .ci-text h5,
.categorie-item:hover .ci-text p,
.categorie-item:hover .ci-text span {
  // color: #fff;
}

.ci-text{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.product-image{
  max-width: 100%;
}

.product-card-content{
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 3rem 1rem 3rem;
}

@media screen and (max-width: 700px) {
  .product-card-content{
    padding: 1rem 1.5rem 1rem 1.5rem;
  }
}

@media screen and (max-width: 350px) {
  .product-card-content-margin{
    font-size: 10px;
  }
}
