@media screen and (max-width: 1000px) {
  .pyramid-container{
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .medium-pyramid-container{
    display: none;
  }
}

.pyramid-container{
  width: 50%;
  padding: 2rem;
  height: 80vh;
}

.pyramid-base-container{
  display: flex;
  height: 50%;
}

.pyramid-top-container{
  height: 50%;
  overflow: hidden;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.61),
      rgba(0, 0, 0, 0.61)
    ), url("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559226265/communication-pyramid01.jpg");
  background-size: cover;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  cursor: pointer;
}

.pyramid-top-container:hover{
  height: 50%;
  overflow: hidden;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559226265/communication-pyramid01.jpg");
  background-size: cover;
  h3{
    font-size: 2rem;
    color: $atolo-green;
  }
}

.pyramid-top-container.active{
  height: 50%;
  overflow: hidden;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559226265/communication-pyramid01.jpg");
  background-size: cover;
  h3{
    color: $atolo-green;
    font-size: 2rem;
  }
}

.pyramid-base-element-one{
  width: 50%;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.61),
      rgba(0, 0, 0, 0.61)
    ), url("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559226265/communication-pyramid02.jpg");
  background-size: cover;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border-bottom-left-radius: 1rem;
  cursor: pointer;
}

.pyramid-base-element-one:hover{
  width: 50%;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559226265/communication-pyramid02.jpg");
  background-size: cover;
  h3{
    font-size: 2rem;
    color: $atolo-green;
  }
}

.pyramid-base-element-one.active{
  width: 50%;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559226265/communication-pyramid02.jpg");
  background-size: cover;
  h3{
    color: $atolo-green;
    font-size: 2rem;
  }
}

.pyramid-base-element-two{
  width: 50%;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.61),
      rgba(0, 0, 0, 0.61)
    ), url("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559226265/communication-pyramid03.jpg");
  background-size: cover;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border-bottom-right-radius: 1rem;
  cursor: pointer;
}

.pyramid-base-element-two:hover{
  width: 50%;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559226265/communication-pyramid03.jpg");
  background-size: cover;
  h3{
    font-size: 2rem;
    color: $atolo-green;
  }
}

.pyramid-base-element-two.active{
  width: 50%;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url("https://res.cloudinary.com/dr7ypsdyf/image/upload/v1559226265/communication-pyramid03.jpg");
  background-size: cover;
  h3{
    color: $atolo-green;
    font-size: 2rem;
  }
}

.pyramid-title{
  color: white;
  margin: 1rem;
}

.medium-pyramid-container{
  width: 50%;
  padding: 2rem;
  height: 60vh;
}

.medium-pyramid-element-one,
.medium-pyramid-element-two,
.medium-pyramid-element-three{
  height: 30%;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.medium-pyramid-element-one.active,
.medium-pyramid-element-two.active,
.medium-pyramid-element-three.active{
  h3{
    color: $atolo-green;
  }
}

.medium-pyramid-element-one{
  overflow: hidden;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.61),
      rgba(0, 0, 0, 0.61)
    ), image-url("communication/communication-pyramid01.jpg");
  background-size: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.medium-pyramid-element-two{
  overflow: hidden;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.61),
      rgba(0, 0, 0, 0.61)
    ), image-url("communication/communication-pyramid02.jpg");
  background-size: cover;
}

.medium-pyramid-element-three{
  overflow: hidden;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.61),
      rgba(0, 0, 0, 0.61)
    ), image-url("communication/communication-pyramid03.jpg");
  background-size: cover;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.medium-pyramid-element-one:hover{
  overflow: hidden;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), image-url("communication/communication-pyramid01.jpg");
  background-size: cover;
}

.medium-pyramid-element-two:hover{
  overflow: hidden;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), image-url("communication/communication-pyramid02.jpg");
  background-size: cover;
}

.medium-pyramid-element-three:hover{
  overflow: hidden;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), image-url("communication/communication-pyramid03.jpg");
  background-size: cover;
}

.medium-pyramid-element-one.active{
  overflow: hidden;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), image-url("communication/communication-pyramid01.jpg");
  background-size: cover;
}

.medium-pyramid-element-two.active{
  overflow: hidden;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), image-url("communication/communication-pyramid02.jpg");
  background-size: cover;
}

.medium-pyramid-element-three.active{
  overflow: hidden;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), image-url("communication/communication-pyramid03.jpg");
  background-size: cover;
}
