.quadrant-container{
  display: flex;
}

.quadrant-visual-container{
  width: 50%;
  overflow: auto;
  position: relative;
}

.quadrant-image{
  width: 100%;
}

.quadrant-image-container{
  width: 100%;
  position: absolute;
}

.quadrant-image-overlay{
  position: absolute;
}

.quadrant-text-container{
  width: 50%;
  padding: 2rem;
}

.quadrant-text{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  list-style: none;
}

#languages-quadrant-selector-one.active h3{
  color: #F9A704;
}
#languages-quadrant-selector-two.active h3{
  color: #93C11A;
}
#languages-quadrant-selector-three.active h3{
  color: #BB027D;
}
#languages-quadrant-selector-four.active h3{
  color: #16AFD8;
}

#languages-quadrant-selector-one:hover h3{
  color: #F9A704;
}
#languages-quadrant-selector-two:hover h3{
  color: #93C11A;
}
#languages-quadrant-selector-three:hover h3{
  color: #BB027D;
}
#languages-quadrant-selector-four:hover h3{
  color: #16AFD8;
}

.languages-quadrant-selector{
  cursor: pointer;
}


@media screen and (max-width: 736px) {
  .quadrant-container{
    display: block;
  }

  .quadrant-visual-container{
      width: 100%;
  }

  .quadrant-text-container{
    width: 100%;
    padding: 1rem;
  }
}

p.small-font.major-medium{
  font-style: italic;
  margin-bottom: 1rem;
}

.quadrant-toggle-holder{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.quadrant-toggle-holder h3{
  margin-bottom: 0;
  margin-left: 1rem;
}
