.testimonial-cards {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  margin: 3rem 0;
  position: relative;
  overflow: hidden;
}

.testimonial-cards > * {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  border-left-width: 1px;
  border-top-width: 0px;
}


.testimonial-card {
  padding: 0.1875rem 2.1875rem 0.1875rem 2.1875rem ;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  background: white;
  p.small-font{
    font-size: 18px;
  }
}

.owl-nav{
  border-radius: none;
}


.owl-prev {
    background-color: black;
    width: 30px;
    height: 30px;
    padding: 5px;
    position: absolute;
    top: 40%;
    display: block !important;
}

.owl-next {
    background-color: black;
    width: 30px;
    height: 30px;
    padding: 5px;
    position: absolute;
    top: 40%;
    right: 0px;
    display: block !important;
}

.owl-nav button.owl-next {
  box-shadow: none !important;
}

.owl-nav button.owl-prev {
  box-shadow: none !important;
}

.owl-dots button.owl-dot{
  box-shadow: none !important;
}

.owl-theme .owl-dots .owl-dot span:hover{
  background: $atolo-green;
}

.owl-theme .owl-nav [class*=owl-]:hover{
  background: none !important;
}

.owl-theme .owl-dots .owl-dot {
  height: 20px;
}

button:focus {outline:0;}

.partners{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 32px;
  padding-bottom: 32px;
  flex-wrap: wrap;

  img{
    max-width: 100%;
    max-height: 100px;
  }

}

