<section class="spotlight style2 orient-right content-align-left fullscreen onload-image-fade-in onload-content-fade-right">
  <div class="content">
      <h2 class="margin-top">Thank you Cefora</h2>
  </div>
</section>
