<section class="spotlight style2 orient-right content-align-left fullscreen onload-image-fade-in onload-content-fade-right">
  <div class="content">
      <div style="text-align: center;">
        <div>
          <h2 class="margin-top">Thank you Cefora</h2>
        </div>
        <% if mobile_device == "mobile" %>
          <%= get_vimeo_iframe('https://vimeo.com/455724340', '280px' , '158px') %>
        <% elsif mobile_device == "tablet" %>
          <%= get_vimeo_iframe('https://vimeo.com/455724340', '560px' , '316px') %>
        <% else %>
          <%= get_vimeo_iframe('https://vimeo.com/455724340', '712px' , '402px') %>
        <% end %>
      </div>
  </div>
</section>
